.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}

#formStyle {
	border:5px solid #358cce;
	height: 410px;
}
 #creditCardInput {
 	width: 340px;
    height: 36px;
    font-size: 18px;
 } 

 #TransferNote {
 	font-size: 10px;
 }

 #continueButton {
 	background-color: rgb(52, 165, 45);
  text-align: center;
  color: white;
  font-family: "neutra-book",Helvetica;
  /*width: 224px;*/
  padding: 8px 26px;
  border-radius: 32px;
  border: 0 solid #ccc;
  outline: 0;
  height: 48px;
  /*font-weight: 600;*/
  font-size: 20px;
  transition: all 250ms ease-out;
  margin-top: 5px;
 }

#PaymentApple {
    height: 150px;
    width: 160px;
 }
 #PaymentAndroind {
    height: 150px;
    width: 160px;
 }
/*
 # {
    mar
 }
 */


 /* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


#userNameTitle {
    margin-top: -29px;
}

#borderParagraph {
  border:1px solid #358cce;
}
#paynowButt {
   margin-left: 78px;
    background-color: #358dec;
    height: 25px;
    border:1px solid #358cce;
}

#whereismymoney {
  height:100%
}



